<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="#{login.title} + ' | ' + #{app.title}">Login | PetBnB</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css" />
    <link rel="stylesheet" th:href="@{/css/responsive.css}" href="css/responsive.css" />
</head>

<body>
    <div class="container">

        <header th:replace="~{fragments/header :: header}"></header>


        <!-- erro do Spring Security  -->
        <div class="alert alert-danger" th:if="${param.erro}" th:text="#{login.error}">
            Login ou senha incorretos.
        </div>
        <!-- mensagens passadas via model-->
        <div class="alert alert-success" th:if="${mensagem != null}" th:text="${mensagem}"></div>

        <form th:action="@{/usuario/login}" method="post" class="form">
            <div class="form-group mb-3">
                <label th:text="#{label.login}">Login</label>
                <input class="form-control" type="text" name="login" autofocus required />
            </div>
            <div class="form-group mb-3">
                <label th:text="#{label.password}">Senha</label>
                <input class="form-control" type="password" name="senha" required />
            </div>
            <button class="btn btn-primary w-100" type="submit" th:text="#{button.login}">Entrar</button>
        </form>
    </div>

    <script th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</body>

</html>